### Import pandas

In [37]:
import pandas as pd

### Load the dataset

In [38]:
data = pd.read_csv("sales_data.csv")

In [39]:
data.head()

         date     product     category   price  quantity  revenue
0  2022-01-01  Smartphone  Electronics   600.0      10.0   6000.0
1  2022-01-01      Laptop  Electronics  1200.0       5.0   6000.0
2  2022-01-02     T-Shirt     Clothing    20.0      50.0   1000.0
3  2022-01-03  Headphones  Electronics   100.0      20.0   2000.0
4  2022-01-04     T-Shirt     Clothing    20.0      25.0    500.0

### Questions

1. What was the total revenue generated by the company over the course of the year?

In [40]:
# 1. Total Revenue
total_revenue = data['revenue'].sum()
print(f"Total Revenue: ${total_revenue:.2f}")

Total Revenue: $758330.00

2. Which product had the highest revenue? How much revenue did it generate?

In [41]:
# 2. Product with Highest Revenue
highest_revenue_product = data.loc[data['revenue'].idxmax()]
highest_revenue_product_name = highest_revenue_product['product']
highest_revenue_value = highest_revenue_product['revenue']
print(f"Highest Revenue Product: {highest_revenue_product_name} (${highest_revenue_value:.2f})")

Highest Revenue Product: Smartphone ($7200.00)

3. What was the average price of a product sold by the company?

In [42]:
# 3. Average Price
average_price = data['price'].mean()
print(f"Average Price: ${average_price:.2f}")

Average Price: $211.23

4. What was the total quantity of products sold by the company?

In [43]:
# 4. Total Quantity Sold
total_quantity_sold = data['quantity'].sum()
print(f"Total Quantity Sold: {total_quantity_sold}")

Total Quantity Sold: 5360.0

5. Which category had the highest revenue? How much revenue did it generate?

In [44]:
# 5. Category with Highest Revenue
category_revenue = data.groupby('category')['revenue'].sum()
highest_revenue_category = category_revenue.idxmax()
highest_revenue_category_value = category_revenue.max()
print(f"Highest Revenue Category: {highest_revenue_category} (${highest_revenue_category_value:.2f})")

Highest Revenue Category: Electronics ($516080.00)

6. What was the average revenue per sale?

In [45]:
# 6. Average Revenue Per Sale
average_revenue_per_sale = data['revenue'].mean()
print(f"Average Revenue Per Sale: ${average_revenue_per_sale:.2f}")

Average Revenue Per Sale: $2060.68

7. What was the total revenue generated in each quarter of the year? (i.e. Q1, Q2, Q3, Q4)

In [46]:
# 7. Total Revenue by Quarter
data['date'] = pd.to_datetime(data['date'])
data.set_index('date', inplace=True)
quarterly_revenue = data.resample('Q')['revenue'].sum()
print("Total Revenue by Quarter:")
print(quarterly_revenue)

Total Revenue by Quarter:
date
2022-03-31    182100.0
2022-06-30    183970.0
2022-09-30    197680.0
2022-12-31    194580.0
Freq: Q-DEC, Name: revenue, dtype: float64